# 가상환경 및 설정
.venv/
.env
uv.lock

# 데이터베이스
storage/database/*
!storage/database/.gitkeep

# 원본 데이터
storage/raw_data/*
!storage/raw_data/.gitkeep

# 기타
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info